/*-------- Colors --------- */
$wm-font-mid-emphasis: #636363;
$wm-font-light-emphasis: #808080;
$wm-font-dark-emphasis: #515151;
$wm-color-blue-primary: #007DC6;
$wm-color-blue-primary-light: #399AD3;
$wm-color-blue-secondary: #1C609D;
$wm-color-blue-secondary-light: #00619A;
$wm-color-blue-tertiary: #003B71;
$wm-color-blue-tertiary-light: #004C91;
$wm-color-sea-bright: #78B9E7;
$wm-color-sea-shine: #96C9EC;
$wm-color-sea-deep: #6BA4CD;
$wm-color-spark-mid: #F47321;
$wm-color-spark-light: #F69252;
$wm-color-spark-deep: #D9661D;
$wm-color-yellow: #FFC220;
$wm-color-yellow-light: #FFD052;
$wm-color-yellow-deep: #E3AC1C;
$wm-color-asda-green-mid: #367C2B;
$wm-color-asda-green-light: #4C8B43;
$wm-color-asda-green-deep: #2A6021;
$wm-color-asda-green-bright: #76C043;
$wm-color-asda-green-shine: #94CE6D;
$wm-color-asda-green-mid-2: #5C9534;
$wm-color-white: #FFFFFF;
$lr-color-state-damaged: #ED1C24;
$lch-color-delete-the-item: #f1284b;


/*-------------- extras ---------------*/
$wm-color-extra-less-emphasis: #C9C6C0;
$wm-color-extra-less-emphasis-2: #F2F2F2;
$wm-color-extra-deep-emphasis: #424140;
$wm-white-smoke: #f5f5f5;
$wm-white-gray: #f7f7f7;
$stable: #f8f8f8;

$wm-core-dark-blue: #004c91;
$wm-core-medium-blue: #007dc6;
$wm-core-light-blue: #78b9e7;
$wm-core-orange: #f47321;
$wm-core-yellow: #ffc220;
$wm-core-fresh-product-green: #367c2b;
$wm-core-fresh-product-light: #76c043;
$wm-core-red: #e62b1e;
$wm-core-dark-gray: #737373;
