$wm-darker-shades-dark-blue-1: #022f56;
$wm-darker-shades-dark-blue-2: #043e72;
$wm-darker-shades-dark-blue-3: #064680;
$wm-darker-shades-medium-blue-1: #064c75;
$wm-darker-shades-medium-blue-2: #0d659c;
$wm-darker-shades-medium-blue-3: #0e71b0;
$wm-darker-shades-light-blue-1: #486f8a;
$wm-darker-shades-light-blue-2: #6294b7;
$wm-darker-shades-light-blue-3: #6ea7cd;
$wm-darker-shades-orange-1: #90451c;
$wm-darker-shades-orange-2: #c15c26;
$wm-darker-shades-orange-3: #d9672b;
$wm-darker-shades-yellow-1: #987320;
$wm-darker-shades-yellow-2: #cb9a2d;
$wm-darker-shades-yellow-3: #e4ad32;
$wm-darker-shades-fresh-product-green-1: #21491c;
$wm-darker-shades-fresh-product-green-2: #2d6226;
$wm-darker-shades-fresh-product-green-3: #326e2a;
$wm-darker-shades-fresh-product-light-green-1: #48722d;
$wm-darker-shades-fresh-product-light-green-2: #60993b;
$wm-darker-shades-fresh-product-light-green-3: #6caa43;
$wm-darker-shades-red-1: #881b16;
$wm-darker-shades-red-2: #b62420;
$wm-darker-shades-red-3: #cd2823;
$wm-darker-shades-dark-grey-1: #282828;
$wm-darker-shades-dark-grey-2: #3b3b3b;
$wm-darker-shades-dark-grey-3: #595959;
$wm-color-black:#000000;
