$wm-lighter-tints-dark-blue-1: #9ab7d2;
$wm-lighter-tints-dark-blue-2: #6895bb;
$wm-lighter-tints-dark-blue-3: #3671a5;
$wm-lighter-tints-dark-blue-4: #1f5f9a;
$wm-lighter-tints-medium-blue-1: #9bcbe6;
$wm-lighter-tints-medium-blue-2: #69b2db;
$wm-lighter-tints-medium-blue-3: #3898cf;
$wm-lighter-tints-medium-blue-4: #248bc9;
$wm-lighter-tints-light-blue-1: #cae3f4;
$wm-lighter-tints-light-blue-2: #afd5f0;
$wm-lighter-tints-light-blue-3: #95c7ea;
$wm-lighter-tints-light-blue-4: #88c1e7;
$wm-lighter-tints-orange-1: #fac7a8;
$wm-lighter-tints-orange-2: #f48f54;
$wm-lighter-tints-orange-3: #f48f54;
$wm-lighter-tints-orange-4: #f38142;
$wm-lighter-tints-yellow-1: #fee6a9;
$wm-lighter-tints-yellow-2: #fed97f;
$wm-lighter-tints-yellow-3: #fecd59;
$wm-lighter-tints-yellow-4: #fec748;
$wm-lighter-tints-fresh-product-green-1: #b0caab;
$wm-lighter-tints-fresh-product-green-2: #87af82;
$wm-lighter-tints-fresh-product-green-3: #609558;
$wm-lighter-tints-fresh-product-green-4: #4c8844;
$wm-lighter-tints-fresh-product-light-green-1: #c8e6b4;
$wm-lighter-tints-fresh-product-light-green-2: #aed891;
$wm-lighter-tints-fresh-product-light-green-3: #92cb6d;
$wm-lighter-tints-fresh-product-light-green-4: #86c45c;
$wm-lighter-tints-red-1: #f3aaa6;
$wm-lighter-tints-red-2: #ee817a;
$wm-lighter-tints-red-3: #e9564f;
$wm-lighter-tints-red-4: #e6433b;
$wm-lighter-tints-dark-grey-1: #e0e0e0;
$wm-lighter-tints-dark-grey-2: #c1c1c1;
$wm-lighter-tints-dark-grey-3: #a1a1a1;
$wm-lighter-tints-dark-grey-4: #828282;
$wm-lighter-tints-dark-grey-5: #eaeaea;
